.popup-icon::before{
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-mask-size: 100% 100%;
	background-color: rgb(8, 8, 8);
	-webkit-mask-repeat: no-repeat;
}

.ui-files .files-li {
	line-height: 2.8235294117647056rem;
	min-height: 2.8235294117647056rem;
	padding: 0.0rem 0.5rem 0.5rem 0.5rem;
	margin: 0rem 0rem 0rem 0rem;
}


.info-icon::before {
	-webkit-mask-image: url(../images/info.png);
}

.copy-icon::before {
	-webkit-mask-image: url(../images/copy.png);
}

.move-icon::before {
	-webkit-mask-image: url(../images/move.png);
}

.share-icon::before {
	-webkit-mask-image: url(../images/share.png);
}

.rename-icon::before {
	-webkit-mask-image: url(../images/rename.png);
}

.delete-icon::before {
	-webkit-mask-image: url(../images/delete.png);
}


.fake-popuplink {
	display: none;
	background-color: red;
	margin: 0px;
	padding: 0px;
}

.file-icon {
	background-color: rgba(0, 0, 0, 0);
}

.folder-icon {
	background-color: rgba(0, 0, 0, 0);
}